*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.padding-p1{
    padding: 40px 80px;
}
.normal{
    padding: 15px 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 80px;
    background-color: #E3E6F3;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.103);
    z-index: 222;
    position: sticky;
    top: 0;
    left: 0;
}
.mobile,#close{
    display: none;
}


.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    margin: 0 30px;  
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.nav ul li a:hover,.nav ul li a.active{
    color: rgb(0, 128, 119);
}

.nav ul li a::after{
    content: "";
    width: 70%;
    background-color: rgb(0, 128, 119);
    height: 2px;
    transform: scaleX(0);
    background-color: rgb(0, 128, 119);
    position: absolute;
    bottom: -8px;
    left: 2px;
    transform-origin: left;
    transition: transform 0.2s ease-out;
}
.nav ul li a:hover::after,.nav ul li a.active::after{
    transform: scaleX(.9);
}

.hero{
    z-index: -1;
    background-image: url(img/hero4.png);
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: top 25% left 0;
}

.hero h4{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.hero h2{
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
}
.hero h1{
    margin-bottom: 20px;
    color: rgb(0, 128, 119);
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
}
.hero p{
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.571);
}
.hero button{
    width: 250px;
    background-image: url(img/button.png);
    line-height: 50px;
    background-position: center;
    background-size: cover;
    font-size: 15px;
    color:rgb(0, 128, 119);
    font-weight: 600;
    border: none;
    background-color: transparent;
}
.features .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature-container img {
    width: 150px;
}
.feature-container{
    flex-basis: 12%;
    text-align: center;
    height: 180px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 4px;
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.132);
    transition: 0.5s;
}
.feature-container:hover{
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.319);
}


.feature-container h6{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 6px;
    border-radius: 3px;
    color:rgb(0, 128, 119); 
    font-size: 11px;
    background-color: #fddde4;
    text-align: center;
}
.feature-container:nth-child(2) h6{
    background-color: #cdebbc;
}
.feature-container:nth-child(3) h6{
    background-color: #d1e8f2;
}
.feature-container:nth-child(4) h6{
    background-color: #cdd4f8;
}
.feature-container:nth-child(5) h6{
    background-color: #f6dbf6;
}
.feature-container:nth-child(6) h6{
    background-color: #fff2e5;
}

.featured-products,.arrival{
    text-align: center;
    
}
.featured-products h1,.arrival h1{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}
.featured-products p,.arrival p{
    font-size: 15px;
    line-height: 50px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.511);
}

.featured-products img,.arrival img{
    width: 90%;
    border-radius: 10px;
    margin: 10px 0;
    
}
.product-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.product{
    margin: 20px 0;
    width: 330px;
   border: 1px solid rgba(128, 128, 128, 0.203);
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   transition: 0.5s;
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.132);
}
.product:hover{
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.319);
}

.product-details{
    padding-left: 13px;
    text-align: start;
}

.product-details p{
    font-size: 15px;
    color:rgba(0, 0, 0, 0.54);
    margin-bottom: 5px;
}

.star i{
    color: rgba(232, 232, 8, 0.659);
    margin: 10px 0;
    font-size: 13px;
}
.product-details h4{
    color:rgb(0, 128, 119) ;
    margin-bottom: 20px;
}

.product .cart{
    padding: 12px 12px;
    background-color: aliceblue;
    color:rgb(0, 128, 119) ;
    border-radius: 50px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.banner-1{
    height: 280px;
    background-image: url(img/banner/b2.jpg);
    margin: 30px 0;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    align-content: center;
}
.banner-1 h1{
    font-size: 40px;
    line-height: 35px;
    margin: 30px 0;
}

.banner-1 button:hover{
    background-color:rgb(0, 128, 119);
    color: #fff;
}
.banner-1 span{
    color: rgba(215, 28, 28, 0.834);
}

.banner2{
    display: flex;
    justify-content: space-between;
}

.banner-container{
    width: 48%;
    height: 340px;
    background-position: center;
    background-size: cover;
    background-image: url(img/banner/b17.jpg);
    align-content: center;
    padding: 0 30px;
    color: #fff;
  
}
.banner-container:hover button{
    border: none;
    background-color:rgb(0, 128, 119) ; 
}
.banner-container:nth-child(2){
    background-image: url(img/banner/b10.jpg);
}
.banner-container h1{
    font-size: 27px;
    margin: 10px 0;
}

.banner-container p{
    font-size: 20px;
    font-weight: 500;
}

.banner-container span{
    display: block;
    margin-bottom: 20px;
    font-size: small;
}

.banner-container button{
    color: #fff;
    background-color: transparent ;
    border: 1px solid #fff;
    transition: 0.5s;
    cursor: pointer;
}
.banner3{
    display: flex;
    justify-content: space-between;
}

.banner3-container{
    width: 32%;
    height: 250px;
    background-position: center;
    background-size: cover;
    align-content: center;
    background-image: url(img/banner/b7.jpg);
    color: #fff;
    padding: 0 20px;
}
.banner3-container:nth-child(2){
    background-image: url(img/banner/b4.jpg);   
}
.banner3-container:nth-child(3){
    background-image: url(img/banner/b18.jpg);   
}
.banner3-container h1{
    margin: 10px 0;
}

.newsletter{
    width: 100%;
    margin: 50px 0;
    height: 160px;
    background-color: rgba(6, 6, 51, 0.936);
    background-image: url(img/banner/b14.png);
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.newsletter-des h3{
    color: whitesmoke;
    margin: 10px 0;
    font-size: 19px;
    font-weight: 600;
}
.newsletter-des p{
    color: rgba(128, 128, 128, 0.842);
    font-weight: 600;
    font-size: 13px;
}
.newsletter-des span{
    color:rgba(217, 133, 31, 0.874);
}

.newsletter-input{
    width: 50%;
    text-align: end;
}
.newsletter-input input{
    width: 60%;
    line-height: 45.5px;
    padding: 0 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    border: none;
    outline: none;
}
.newsletter-input button{
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
    margin-left: -6px;
    background-color:rgb(0, 128, 119) ;
    color: #fff;
}

.sec-1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.footer p{
    color: rgba(128, 128, 128, 0.673);
    font-size: 13px;
    margin-top: 10px;
}
.footer p:hover , .social i:hover{
    color: green;
    cursor: pointer;
}

.footer h2{
   color: rgba(0, 0, 0, 0.764);
    font-size: 18px;
    margin-bottom: 20px;
}

.sec-1 div{
    width: 330px;
}

.contact-des{
    margin-bottom:  30px;
    width: 330px;
}
.contact-des img{
    margin-bottom: 30px;
}

.app-img{
    display: flex;
}

.app-img img{
    border: 1px solid green;
    margin: 20px 5px;
    border-radius: 5px;
}
.social i{
    color: rgba(128, 128, 128, 0.86);
}
.pay{
    margin: 20px 0;
}

.copyright {
    width: 100%;
    text-align: center;
    margin-top: 30px ;
    margin-top: 10px ;
}



.hero-shop, .hero-blog,.hero-about{
    width: 100%;
    height: 40vh;
    text-align: center;
    align-content: center;
    background-image: url(img/banner/b1.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.hero-shop h1,.hero-blog h1,.hero-about h1{
    font-size: 40px;
    margin: 10px 0;
}

.hero-shop p,.hero-blog p,.hero-about p{
    font-size: 10px;
}

.pagination{
    text-align: center;
    margin: 50px 0;
    
}

.pagination a{
    border-radius: 3px;
    background-color:rgb(0, 128, 119) ;
    padding:14px 20px;
    text-decoration: none;
    color: #fff;
}

.hero-blog{
    background-image: url(img/banner/b19.jpg);
}

.blog-container{
 display: flex;
 align-items: center;
    
}

.blog-container-img{
    width: 40%;
    background-image: url(img/blog/b1\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-left: 80px;
    margin-top: 100px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.img2{
    background-image: url(img/blog/b2\ \(1\).jpg);
}
.img3{
    background-image: url(img/blog/b3.jpg);
}
.img4{
    background-image: url(img/blog/b4\ \(1\).jpg);
}
.img5{
    background-image: url(img/blog/b6.jpg);
}

.blog-content p{
    width: 65%;
    font-size: 13px;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.7);
}
.btn{
    position: relative;
}
.blog-content a{
    font-size: 10px;
    text-decoration: none;
    color: black;
    
    font-weight: 600;
}

.blog-content a:hover{
    color: chartreuse;
}

.blog-content a::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 0.5px;
    border-radius: 5px;
    background-color:chartreuse;;
    left: 19%;
    top: 73%;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: left;
}

.blog-content a:hover::after{
   
    transform: scaleX(1);
}

.blog-container-img{
    position: relative;
}
.blog-container-img h1{
    font-size: 60px;
    color: rgba(0, 0, 0, 0.266);
    position: absolute;
    top: -50px;
    left: -5px;
    z-index: -1;
}

.hero-about{
    background-image: url(img/about/banner.png);
}



.about-container{
    display: flex;
}

.about-container img{
    width: 50%;
    margin-right: 20px;
}

.container-right{
    align-content: center;
    gap: 20px;
}

.container-right p{
    font-size: 13px;
    margin: 20px 0;
}

.container-right h1{
    font-size: 40px;
}   

abbr{
    font-size: 15px;
}

marquee{
    font-size: 10px;
    margin: 20px 0;
}

.about-container-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-container-video h1{
    font-size: 50px;
    margin: 20px;
}

.video{
    width: 60%;
}

video{
    width: 100%;
    border-radius: 20px;
}

.about-location{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.location-left{
    width: 50%;
}


.location-left span, .form span{
    font-size: 10px;
    margin: 20px 0;
}

.location-left h3{
    margin: 20px 0;
    font-size: 25px;
}

.location-right{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-right iframe{
    width: 100%;
    height: 350px;
}

.address div{
    display: flex;
    margin: 25px 0;
    align-items: center;
    gap: 30px;
    
}

.address div i{
    color: rgba(0, 0, 0, 0.895);
    font-size: 15px;
}

.address div p, .people-description p{
    color: rgba(0, 0, 0, 0.489);
    font-size: 12px;
}

.about-review{
    /* height: 100vh; */
    width: 99.7%;
    border: 1px solid rgba(0, 0, 0, 0.296);
    margin: 0 2px;
    display: flex;
    /* align-items: center; */
}

.form{
    width: 60%;
    height: 100%;
}


.form h4{
    font-size: 20px;
    margin: 30px 0;
}

.form h4 i{
    color: red;
    font-size: 20px;
}

.form form{
    display: flex;
    flex-direction: column;
}

.form form input, .form form textarea{
    margin: 13px 0;
    outline: none;
    border: 1px solid rgb(223, 220, 220);
    padding: 10px 5px;
    background-color: transparent;
}

.form form ::placeholder{
    font-size: 10px;
}

.form button{
    background-color:rgb(0, 128, 119) ;
    color: #fff;
}

.customer-review .people{
    display: flex;
    margin: 20px 0;
    /* height: 30%; */
}

.people img{
  width: 65px;
  height: 70px;
  margin-right: 15px;
}


.people-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}


.customer-review{
    display: flex;
    flex-direction: column;
   margin-left:20% ;
}












@media (max-width:777px) {
    *{
        margin: 0;
        padding: 0;
    }

    .padding-p1{
        padding: 20px 40px;
    }

    #navbar{
        
        display: block;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -400px;
        padding: 50px;
        justify-content: start;
        align-items: flex-start;
        width: 40%;
        height: 100vh;
        /* background-color: whitesmoke; */
        backdrop-filter: blur(16px);
        transition: 0.5s;
        
    }
    #cart{
        display: none;
    }
    .mobile{
      display: block;  
    }
    #close{
        position: absolute;
        top: 30px ;
        display: block;
        
    }

    #navbar li {
        margin:  20px 0;  
        list-style: none;
    }
    #navbar li a{
        color: #fff;
    }
    #navbar li a:hover ,#navbar li a.active{
        color:rgb(0, 128, 119) ;
    }

    #navbar.active{
        right: 0;
    }
    .mobile a {

        color: black;
        margin-right: 10px;
    }

    .hero{
        
        background-position: top 25% left 65%;
    }

    .features .container {
        justify-content: space-around;
        gap: 20px;
    }
    
    .product-container {
        justify-content: space-around;
    }
    

    .banner-1 {
        height: 250px;
    }
    .banner-1 h1 {
        font-size: 30px;
    }

    .banner-container {
        width: 49%;
        height: 300px;
    }

    .banner3-container {
        width: 32%;
        height: 200px;
    }
    .newsletter {
        padding: 0 40px;
    }

    .newsletter-des h3{
        font-size: 15px;
    }
    .newsletter-des p{
        font-size: 11px;
    }

    .blog-container-img {
        width: 100%;
        margin-left: 0;
    }

    .customer-review {
        margin-left: 10%;
    }
}

@media (max-width:490px) {
    .padding-p1 {
        padding: 10px 20px;
    }
    .header {
        padding: 22px 40px;
    }
    .hero {
        background-position: top 25% left 75%;
    }
    .hero h4{
        font-size: 10px;
    }
    
    .hero h2{
        font-size: 30px;
    }
    .features .container {
        justify-content: center;
        gap: 20px;
    }

    .feature-container{
        /* flex-basis: 5%; */
        width: 150px;
        height: 160px;
        padding: 2px;
    }
    
    /* .feature-container img{
        width: 130px
    } */

    .feature-container h6{
        margin-top: 10px;
        padding: 5px 4px;
    }

    .featured-products h1,.arrival h1{
        font-size: 30px;
        margin-bottom: 0px;
    }
    .featured-products p,.arrival p{
        font-size: 12px;
    }

    .product{
        margin: 10px 0;
        width: 100%
    }

    .banner-1 h1 {
        font-size: 15px;
    }

    .banner-1 {
        margin: 10px 0;
        height: 210px;
    }

    .banner3{
        flex-direction: column;
    }
    
    .banner3-container{
        width: 100%;
        margin-bottom: 10px;
        height: 200px;
        
    }
    .banner2{
        flex-direction: column;
    }
    
    .banner-container{
        margin-bottom: 10px;
        width: 100%;
        height: 300px;
      
    }

    .newsletter {
        justify-content:space-around;
        flex-direction: column;
    }

    .newsletter-input input {
        width: 60%;
    }
    .newsletter-input{
        width: 100%;
        text-align: start;
    }
    .app-img {
        
        flex-direction: column;
    }
    .app-img img {
        
       width: 50%;
    }
    .sec-1 div{
        width: 100%;
    }
    .blog-container {
        flex-direction: column;
    }
    
    .blog-container-img {
        margin-right: 0;
    }
    .blog-content p {
        width: 100%;
        font-size: 10px;
    }

    .about-container{
        flex-direction: column;
    }

    .about-container img {
        width: 100%;
        margin-bottom: 20px;
    }

    .video{
        width: 100%;
        padding: 20px;
    }

    .about-review{
        flex-direction: column;
    }

    .form{
        width: 100%;
    }
    
    .customer-review {
        margin-left: 0;
    }
    
    .about-location{
        flex-direction: column;
    }
    .location-left {
        width: 100%;
    }
    .location-right{
        width: 100%;
    }

}